@font-face {
    font-family: 'cinzel_decorativeregular';
    src: font_url('cinzeldecorative-regular-webfont.woff2') format('woff2'),
         font_url('cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}