@font-face {
    font-family: 'cinzel_decorativeregular';
    src: font_url('cinzeldecorative-regular-webfont.woff2') format('woff2'),
         font_url('cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('poppins-light-webfont.woff2') format('woff2'),
         url('poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}